.login-page{
    background: #2e88bb;
    background-image: linear-gradient(135deg, #72b9e8, #2e88bb);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.profile-box {
  background-image: url('/login_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px; 
  margin-top: 200px;
  margin-left: 47%;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(244, 240, 240, 0.923); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(236, 238, 238, 0);
  width: 300px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
   align-items: center;
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 260px;
  text-align: center;
  background-color: white;
}

.login-button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0078d7;
  color: white;
  font-size: 16px;
  width: 260px;
}

.login-button:hover {
  background-color: #005fa3;
}

button:focus {
  outline: none;
}